# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
venv/
env/

# Distribuição / pacotes
build/
dist/
*.egg-info/

# Banco de dados SQLite (comum em Django/Flask)
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Testes e cobertura
.coverage
.pytest_cache/
.mypy_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Configurações locais e segredos
.env
.envrc

# IDEs e editores
.vscode/
.idea/
*.swp
